@model APYROPROJECTFINAL.Areas.Identity.Data.Educator
@{
    Layout = "/Views/Shared/AdminLayout.cshtml";
}




    <script defer src="~/JavaScript.js"></script>
<div class="w-100 d-flex justify-content-center">
    <div class="d-flex flex-column p-5" style="background-color:#1A222B; border-radius:5px; width:600px;">
    <h5>Send Email</h5>
    Sender Name
    <input type="text" value="APyro Administrator" id="sendername">
    To (Email)
    <input type="text" value="@Model.EmailEducator" id="to">
    Subject
    <input type="text" value="APyro Credentials" id="subject">
    Reply To (Email)
    <input type="text" value="testapyro@gmail.com"  id="replyto">
    Message
    <input id="message" class="mb-3" />
        <button class="btn btn-primary" onclick="sendMail();"> Send </button>
    </div>
    </div>


    <script>
        // Set the value of the textarea
        document.getElementById('message').value = '@Model.PasswordEducator';
    </script>

    <script type="text/javascript">
        function sendMail() {
          emailjs.init({
            publicKey: "__6p3UcCmJ9uu2X-4", // Replace with your EmailJS public key
          });

          var params = {
            sendername: document.querySelector("#sendername").value,
            to: document.querySelector("#to").value,
            subject: document.querySelector("#subject").value,
            replyto: document.querySelector("#replyto").value,
            message: document.querySelector("#message").value,
          };

          var serviceID = "service_5id2ecc"; // Replace with your EmailJS service ID
          var templateID = "template_johsume"; // Replace with your EmailJS template ID

          emailjs.send(serviceID, templateID, params)
            .then(function (res) {
              alert("Email sent successfully");
            })
            .catch(function (error) {
              console.error("Email sending failed:", error);
            });
        }

      

    </script>

