@model APYROPROJECTFINAL.Areas.Identity.Data.Student

@{
    Layout = "/Views/Shared/AdminLayout.cshtml";
}

<style>

    .input-con {
        font-family: Inter;
    }

    input {
        background-color: #212529;
        color: white;
        height: 40px;
        border-radius: 5px;
        border: 1px solid white;
        padding-left: 8px;
        margin-bottom: 5px;
    }

    h2 {
        font-weight: bold;
    }
</style>


    <script defer src="~/JavaScript.js"></script>

<div class="w-100 d-flex justify-content-center"> 
    <div class="input-con d-flex flex-column p-5" style="background-color:#1A222B; border-radius:5px; width:600px;">
        <h2>Send Email</h2>
        <span class="me-1">
            &nbsp;Sender Name:
        </span>
        <input type="text" value="APyro Administrator" id="sendername">
        &nbsp;To (Email):
        <input type="text" value="@Model.EmailStudent" id="to">
        &nbsp;Subject:
        <input type="text" value="APyro Credentials" id="subject">
        &nbsp;Reply To (Email):
        <input type="text" value="testapyro@gmail.com" id="replyto">
        &nbsp;Message:
        <input id="message" /><br />
        <button class="btn btn-primary" onclick="sendMail();"> Send </button>

    </div>
</div>

    <script>
        // Set the value of the textarea
        document.getElementById('message').value = '@Model.PasswordStudent';
    </script>

    <script type="text/javascript">
        function sendMail() {
            emailjs.init({
                publicKey: "__6p3UcCmJ9uu2X-4", // Replace with your EmailJS public key
            });

            var params = {
                sendername: document.querySelector("#sendername").value,
                to: document.querySelector("#to").value,
                subject: document.querySelector("#subject").value,
                replyto: document.querySelector("#replyto").value,
                message: document.querySelector("#message").value,
            };

            var serviceID = "service_5id2ecc"; // Replace with your EmailJS service ID
            var templateID = "template_johsume"; // Replace with your EmailJS template ID

            emailjs.send(serviceID, templateID, params)
                .then(function (res) {
                    alert("Email sent successfully");
                })
                .catch(function (error) {
                    console.error("Email sending failed:", error);
                });
        }



    </script>
