<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0 />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <style>
       
       body{ 
            Overflow-y:scroll;
            background-color: #12161d;
       }
       nav {
        margin: 20px;
        display: flex;
        justify-content: space-between;
        color:white;
      }
      nav ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      nav ul a {
        text-decoration: none;
        color: white;
        font-size: 21px;
        font-style: bold;
        line-height: 60px;
        margin-right: 50px;
      }

    .m-nav a {
       text-decoration: none;
       color: white;
       font-size: 18px;
       font-style: bold;
       line-height: 60px;
       padding-left: 8px;
            margin: 0px;
            display: block;
            width: 100%;
            height: 100%;
                }

      .logo {
        height: 60px;
      }

      .burger {
        display: none;
      }
      .m-nav {
        position:absolute;
        top:100px;
        list-style: none !important;
        color: white!important;
        font-size: 32px;
        width:90%;
        display: none;
        z-index: 9;
      }

      .m-nav li {
        padding: 2px;
        background-color: #1a222b;
        
      }

      .m-nav li:hover {
        padding: 2px;
        background-color: white;
      }

      .m-nav li:hover a{
         color:black;
      }

       

      @@media only screen and (max-width: 728px) {
         
        .m-nav {
                list-style-type: none;
                /* margin-left:-7%; */
        }
        nav ul {
          display: none;
        }

        .burger {
          display: block;
          margin-top: 35px;
          margin-right: 15px;
          float: right;
        }
        .logo {
          display: block;
        }
      }

      @@media screen and (min-width: 728px) {
            .m-nav {
            list-style: none !important;
                color: white !important;
                font-size: 32px;
                display: none !important;
            }

            .m-nav a{
                list-style: none !important;
                color: white !important;
                font-size: 32px;
                display: none !important;
            }
      }

      
    </style>

 
</head>
<body>
    <div class="header">
        <nav>
            <a href="/MainPage/MainHomePage"><img class="logo" src="~/samplelogo 1.png" alt="" /></a>
            <ul>
                <li > <a href="/MainPage/Policies">Policies</a></li>
                <li> <a href="/MainPage/Documentation">Documentation</a></li>
                <li><a href="/MainPage/AboutUs">About Us</a></li>
                <li > <a href="/MainPage/ContactUs">Contact Us</a></li>
            </ul>
            <i class="burger fa-solid fa-bars fa-2xl"
               id="toggle-nav"
                style="color: #ffffff"></i>
        </nav>
        <ul class="m-nav" id="m-nav">
            <li style="border-top-right-radius: 5px; border-top-left-radius:5px;"> <a href="/MainPage/Policies">Policies</a></li>
            <li> <a href="/MainPage/Documentation">Documentation</a></li>
            <li><a href="/MainPage/AboutUs" >About Us</a></li>
            <li style="border-bottom-right-radius:5px; border-bottom-left-radius:5px;"> <a href="/MainPage/ContactUs">Contact Us</a></li>
        </ul>

      
        @RenderBody()
    </div>

    <script>
        var burger = document.getElementById("toggle-nav");
        var m_nav = document.getElementById("m-nav");

        function toggleNav() {
            if (m_nav.style.display == "block") {
                m_nav.style.display = "none";
            } else {
                m_nav.style.display = "block";
            }
        }

        burger.addEventListener("click", toggleNav);
    </script>
</body>
</html>
