@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Data Privacy Policy</title>


    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
        }

        h1 {
            text-align: center;
        }

        h5 {
            margin-top: 20px;
        }

        p, ul {
            margin-top: 10px;
        }

        ul {
            padding-left: 20px;
        }

        .privacy-con {
            margin-top: -100px;
            margin-bottom: 50px;
        }
    </style>


</head>
<body>

    <div class="privacy-con">
        <h1>Face Data & Policy </h1>

        <h5>1. Collection of Face Data</h5>
        <p>We collect facial data when you register your face for the purpose of attendance management. Facial data may include images, videos, or other similar information that uniquely identifies you.</p>

        <h5>2. Use of Face Data</h5>
        <p>We use your facial data for the following purposes:</p>
        <ul>
            <li>Facial recognition and verification: When registering your face, we use liveness detection to ensure the authenticity of the registration process.</li>
            <li>Face recognition in group pictures: We use facial data for attendance recognition, enabling tracking of attendance based on detected faces in uploaded images.</li>
            <li>Attendance Tracker Feature: When the Attendance Tracker feature is enabled, the webcam automatically opens at random times to detect the presence of students in the virtual class for attendance purposes.</li>
            <li>Face Recognition Model: We utilize facial data to enable identification process within our system through the implementation of our face recognition model.</li>
        </ul>

        <h5>3. Security of Face Data</h5>
        <p>We take reasonable measures to protect your facial data stored in our secured cloud server database from unauthorized access, use, or disclosure. </p>

        <h5>4. Your Rights</h5>
        <p>You have the following rights regarding your facial data:</p>
        <ul>
            <li>The right to decline for face register.</li>
            <li>The right to update your facial data.</li>
            <li>The right to withdraw your consent to the collection, use, or disclosure of your facial data.</li>
        </ul>

        <h5>5. Changes to this Policy</h5>
        <p>We may update this Policy from time to time. We will notify you of any changes by posting the new Policy on this page.</p>

        <h5>6. Contact Us</h5>
        <p>If you have any questions about this Policy, please contact us at:</p>
        <p>
            Apyro<br>
            Unversity Of Makati<br>
            09079933667<br>
            Apyro@gmail.com
        </p>
    </div>



</body>
</html>
