@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "/Views/Shared/_MainHomePageLayout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<div class="container ">
    <section id="main">

        <!-- Modal -->

        <div class="modal fade" id="modalLeonardo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="background-color:#1A222B;">

                    <div class="modal-body d-flex ">
                        <div class="col-5">
                            <img class="w-100" height="400" src="~/API-removebg-preview.png" />
                        </div>
                        <div class="col-6 text-white p-3">
                            <h2 style="color:lightblue">Leonardo Timkang</h2>
                            <h4>FrontEnd/API Developer</h4>
                            <p>
                                As a frontend developer, my role involves crafting the user interface and experience of websites and web applications. I utilize languages such as HTML, CSS, and JavaScript to create responsive and visually appealing interfaces. My responsibilities include translating design concepts into code, optimizing performance, and ensuring cross-browser compatibility. Collaboration with designers and backend developers is integral to delivering seamless user experiences.
                            </p>

                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalPatrick" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="background-color:#1A222B;">

                    <div class="modal-body d-flex ">
                        <div class="col-5">
                            <img class="w-100" height="400 " src="~/Leader-removebg-preview.png" />
                        </div>
                        <div class="col-6 text-white p-3">
                            <h2 style="color:lightblue">Patrick Etesam</h2>
                            <h4>Leader/Backend/ML Developer</h4>
                            <p>
                                As a Leader and Backend ML Developer at APyro, I combine my technical expertise with strong leadership skills to drive innovation and success. With a passion for both backend development and machine learning, I lead a dedicated team at APyro, ensuring seamless integration of cutting-edge technologies into our web applications. My role involves spearheading backend development initiatives, architecting robust and scalable solutions, and leveraging machine learning algorithms to enhance system functionality. With a collaborative mindset and a focus on continuous improvement, I am dedicated to driving our team forward and delivering exceptional results at APyro.
                            </p>

                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalJilbert" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="background-color:#1A222B;">

                    <div class="modal-body d-flex ">
                        <div class="col-5">
                            <img class="w-100" height="400" src="~/Designer-removebg-preview.png" />
                        </div>
                        <div class="col-6 text-white p-3">
                            <h2 style="color:lightblue">Jilbert Lim</h2>
                            <h4>Web Designe/Figma</h4>
                            <p>
                                As a front-end developer, I specialize in creating attractive and functional interfaces using HTML, CSS, and JavaScript, ensuring smooth user experiences on all devices.
                            </p>

                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalAmiel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="background-color:#1A222B;">

                    <div class="modal-body d-flex ">
                        <div class="col-5">
                            <img class="w-100" height="400" src="~/Data-removebg-preview.png" />
                        </div>
                        <div class="col-6 text-white p-3">
                            <h2 style="color:lightblue">Amiel Diego</h2>
                            <h4>Data Gatherer/Researcher</h4>
                            <p>
                                I Am a 4th year student at University of Makati studying Bachelor of Science in Computer Science. My goal in life is not only to become a game developer but also to be a professional E-sports player.
                            </p>

                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalPersona" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content" style="background-color:#1A222B;">

                    <div class="modal-body d-flex ">
                        <div class="col-5">
                            <img class="w-100" height="400" src="~/Researcher-removebg-preview.png" />
                        </div>
                        <div class="col-6 text-white p-3">
                            <h2 style="color:lightblue">Khrizza Persona</h2>
                            <h4>Researcher</h4>
                            <p>
                                I'm currently enrolled in University of Makati taking Bachelor of Science in Computer Science major in Social Computing. I love searching for something, Korean Drama or anything that makes me confused. My number 1 goal is to seek for a job that suits with my skills and personality.
                            </p>

                        </div>

                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="flex-container" style="color: white">


            <div class="d-flex flex-column align-items-center">
                <h1 class="mb-5">Meet our team</h1>
                <div class="col-xl-8 col-lg-8 col-sm-10 d-flex flex-xl-column flex-smrow align-items-center">  <p class="" style="font-size:20px; text-align:center">Get to know the leaders, innovators, and trailblazers who are committed to transforming <span style="font-size:20px;"> how attendances work and people live through the power of APyro.</span></p> </div>
            </div>

            <div class="row w-100 mb-3">
                <div class="col-lg-4 col-sm-12 mb-3">
                    <div class="card w-80 " data-toggle="modal" data-target="#modalLeonardo" style="border-radius:10px; background-color:#1A222B; color:white ">
                        <img class="card-img-top w-50 m-auto" height="200" src="~/API-removebg-preview.png" alt="Card image cap">
                        <div class="card-body p-4 d-flex flex-column align-items-center">
                            <span class="fw-bold " style=" font-size:16px">FrontEnd/API Developer</span>
                            <h4 class="fw-bold " style="color:lightblue; padding-top:10px;">Leonardo Timkang</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 mb-3">
                    <div class="card w-80" data-toggle="modal" data-target="#modalPatrick" style="border-radius:10px; background-color:#1A222B; color:white">
                        <img class="card-img-top w-50 m-auto" height="200" src="~/Leader-removebg-preview.png" alt="Card image cap">
                        <div class="card-body p-4 d-flex flex-column align-items-center">
                            <span class="fw-bold " style=" font-size:16px">Leader/Backend,ML Developer</span>
                            <h4 class="fw-bold " style="color:lightblue; padding-top:10px;">Patrick Etesam</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 mb-3">
                    <div class="card w-80" data-toggle="modal" data-target="#modalJilbert" style="border-radius:10px; background-color:#1A222B; color:white">
                        <img class="card-img-top w-50 m-auto" height="200" src="~/Designer-removebg-preview.png" alt="Card image cap">
                        <div class="card-body p-4 d-flex flex-column align-items-center">
                            <span class="fw-bold " style=" font-size:16px">Web Designer/Figma</span>
                            <h4 class="fw-bold " style="color:lightblue; padding-top:10px;">Jilbert Lim</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 mb-3">
                    <div class="card w-80" data-toggle="modal" data-target="#modalAmiel" style="border-radius:10px; background-color:#1A222B; color:white">
                        <img class="card-img-top w-50 m-auto" height="200" src="~/Data-removebg-preview.png" alt="Card image cap">
                        <div class="card-body p-4 d-flex flex-column align-items-center">
                            <span class="fw-bold " style=" font-size:16px">Data Gatherer/Researcher</span>
                            <h4 class="fw-bold " style="color:lightblue; padding-top:10px;">Amiel Diego</h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-12 mb-3">
                    <div class="card w-80" data-toggle="modal" data-target="#modalPersona" style="border-radius:10px; background-color:#1A222B; color:white">
                        <img class="card-img-top w-50 m-auto" height="200" src="~/Researcher-removebg-preview.png" alt="Card image cap">
                        <div class="card-body p-4 d-flex flex-column align-items-center">
                            <span class="fw-bold " style=" font-size:16px">Researcher</span>
                            <h4 class="fw-bold " style="color:lightblue; padding-top:10px;">Khrizza Persona</h4>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>